<nav id="sidebar" class="sidebar">
    <div class="sidebar-content ">
        <a class="sidebar-brand" href="index.html">
            <i class="align-middle" data-feather="box"></i>
            <span class="align-middle">AppStack</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Main
            </li>
            <li class="sidebar-item active">
                <a href="#dashboards" data-toggle="collapse" class="sidebar-link">
                    <i class="align-middle" data-feather="sliders"></i> <span
                        class="align-middle">Dashboard</span>
                </a>
                <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="dashboard-default.html">Default</a>
                    </li>
                    <li class="sidebar-item"><a class="sidebar-link"
                                                href="dashboard-analytics-1.html">Analytics</a></li>
                    <li class="sidebar-item"><a class="sidebar-link"
                                                href="dashboard-e-commerce.html">E-commerce</a></li>
                    <li class="sidebar-item active"><a class="sidebar-link"
                                                       href="dashboard-social.html">Social</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="dashboard-crypto.html">Crypto <span
                            class="sidebar-badge badge badge-primary">New</span></a></li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#pages" data-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Pages</span>
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-profile.html">Profile</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-settings.html">Settings</a>
                    </li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-clients.html">Clients</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-projects.html">Projects <span
                            class="sidebar-badge badge badge-primary">New</span></a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-invoice.html">Invoice</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-pricing.html">Pricing</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-tasks.html">Tasks <span
                            class="sidebar-badge badge badge-primary">New</span></a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-blank.html">Blank Page</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>